.history
venv
.venv
.idea
.vscode
*.mp3
*.part
*.mp4
*.webm
*.mkv
*.srt
*.ass
*.log
*.pyc
*.part
media
__pycache__
caption/__pycache__
caption/Logs
segments.json
whisper_env
Scripts
Youtube-Subs
AppData
ai/ai
ai/Lib
__pycache__
ai/__pycache__
temp_whisper*